/**********************************************
		STYLING SPACINGS AND POSITIONS

		**************************************/


.header-content-container {

	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 75%);

	@media(min-width: 992px) {
		width: auto;
		top: 50%;
		bottom: auto;
		transform: translateY(-50%);
		right:8%;
		left: auto;
		margin: 0;
	}

	h1 {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-around;
		align-items:center;
		flex-direction: row;
		line-height: 1;

		@media(min-width: 992px) {
			flex-direction: column;
		}


	}

}

.trois-colonnes { 

	margin-top: 400px;

	.background-image {
		height: 312px;
		position: relative;

		.--bottom{
			position: absolute;
			bottom: 0;
			width:100%;
		}
	}
}



