/*
    @package purnatur
    
    MIXINS
  ---------------------------------
*/

@mixin animate ( $attr, $time){
    /* -webkit-transition: $attr $time ease;
    -moz-transition: $attr $time ease;
    -ms-transition: $attr $time ease;
    -o-transition: $attr $time ease; */
    transition: $attr $time;
}

@mixin transform( $val ) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    -o-transform: $val;
    transform: $val;
}

@keyframe spin {
    from { transform: rotate(0)}
    to { transform: rotate(360)}
}