/**********************************
	COLORS
	***********************************/
$color__main: #089C66;
$color__dark: #089C66;
$color__secondary: #F6F4EC;
$color__light: #F6F4EC;
$color__body: #2C3B4B;
/* $color__primary: #750D37;
$color__secondary: #8dab9d;
$color__background-light-grey: #F3F3F3; */

$font__primary: 'Nunito Sans' , sans-serif;

/* $color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666; */
